<h1>Stylists:</h1>
@if (@Model.Count == 0) {
<h4>No stylists have been added yet!</h4>
} 
@foreach (var Stylist in Model) {
<p><a class="whiteLink" href="/Stylist/@Stylist.GetId()/Details">@Stylist.GetName()</a> <a href="/Stylist/@Stylist.GetId()/Update">Edit</a>
<form action="/Stylist/@Stylist.GetId()/Delete" method="post">
    <button type="submit" class="btn btn-link">Delete Stylist</button>
</form></p>
}

<form action="/Stylists/NewStylist" method="post">
    <div class="form-group">
        <label for="inputStylist">Add Stylist:</label>
        <input class="form-control" name="inputStylist" id="inputStylist" required>
        <button type="submit" class="btn btn-info btn-xs">Submit</button>
    </div>
</form>

<form action="/Stylists/Delete" method="post">
    <button type="submit" class="btn btn-danger">Delete All Stylists</button>
</form>

<form action="/">
    <button type="submit" class="btn btn-info">Got To Homepage</button>
</form>