body {
  background-image: url("/img/barber-splash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: azure;
  text-decoration-line: underline;
}

#splash-page {
  text-align: center;
}
